.card__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 1px solid antiquewhite;
        width: 300px;
        background-color: black;
        padding: 5px;
        border-radius: 3px;
    }

}
